*{
    font-family: Baskervville;
}
.main{
    margin-top:150px;
}

.banner{
    width: 100%;
    max-width: 100%; /* Certifica-se de que a imagem não ultrapasse seu tamanho natural */
    height: 450px; /* Garante que a altura seja ajustada proporcionalmente à largura */
    object-fit: cover;
 
}
.main-produtos{
    margin: 100px 50px;

}
.produtos-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.produtos-mobile{
    display: none;
}

.contato {
    margin: 100px 50px;
}
.title-produtos {
    font-weight: bold;
}
.contato-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 90px 100px;
}
.btn-wpp {
    border-radius: 10px;
    background: #36B752;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 15px;
    transition: 0.5s;
}
.btn-email , .btn-insta{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 15px;
    background-color: transparent;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.5s;
}

.btn-wpp:hover, .btn-email:hover, .btn-insta:hover{
    transform: scale(1.05);
    cursor: pointer;
    border: solid 0.5px #c4c4c4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);;
}

.link{
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .main{
        margin-top: 130px;
    }
    .banner{
    width: 100%;
    height: auto;
    }
    .main-produtos{
        margin: 50px 30px;
    }
    .contato {
        margin: 100px 30px;
    }
    .contato-info {
        flex-direction: column;
        gap: 50px;
        margin: 50px 10px;
    }
    .title-produtos{
        font-size: 12px;
    }
    .produtos-cards {
        display: none;
    }
    .produtos-mobile{
        display: block;
    }

}